.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    color: #dedede;
    padding: 20px;
}

.title {
    display: block;
    width: 80%;
    height: 45px;
    margin-bottom: 10px;
    text-align: center;
}
.paragrafo {
    display: block;
    width: 80%;
    height: auto;
    text-align: justify;
}
.map {
    display: block;
    width: 80%;
    height: 400px; 
}